@import "../valo/valo.scss";

@mixin blood_sample_editor {
	@include valo;
	
	.well {
		border-radius: 50px;
		border: 1px solid black;
		
		&.non-empty {
			background: #2980b9;			
			
			&:hover {
				background: #3498db;
			}
			
			&.selected {
				border: 2px solid #2c3e50;
				background: #a3cfec;
			}
		}
		
		&.empty {		
			background: #bdc3c7;
			
			&:hover {
				background: #ecf0f1;
			}
			
			&.selected {
				border: 2px solid #2c3e50;
				background: white;
			}
		}
	
	}
		
	.number {
		font-size: 2em;
		line-height: 2em;
		font-family: Verdana;
	    text-align: center;
	}
	
	.buttons-layout {
		margin-top: 20px;
		float: right;
	}
	
	// There is no reason to maximise the window and this hack is the only way to hide it
	.disable-maximise {	
		.v-window-header {
			pointer-events: none;
		}
		.v-window-maximizebox {
			display: none;
		}
	}
}
